<div
  class="{% if discipleship.group == "sent_forth" %}bg-blue-50 {% else %}bg-gray-100 {% endif %} {% if discipleship.completed_at and discipleship.group == "sent_forth" %} border-blue-300 {% elif discipleship.completed_at %} border-red-300 {% else %} border-gray-300 {% endif %}
    border rounded-md">
  <div class="flex flex-col space-y-1">
    <div class="flex justify-end items-center p-2 pb-0">
      {% if discipleship.group != 'sent_forth' and discipleship.discipler == request.user.profile %}
        {% include "discipleships/components/discipleship_item_menu.html" %}
      {% endif %}
    </div>
    <div>
      <div class="text-center flex flex-col">
        <h4 class="font-medium text-black">
          {{ discipleship.group_display }} discipleship
        </h4>
        {% if discipleship.group == "sent_forth" %}
          <h5 class="text-xs uppercase text-gray-600 mb-1.5">
            Sent forth on {{ discipleship.created_at|date:"F j, Y" }}
          </h5>
        {% else %}
          <h5 class="text-xs uppercase text-gray-600 mb-1.5">
            From {{ discipleship.created_at|date:"F j, Y" }}
            {% if discipleship.completed_at %}
              to {{ discipleship.completed_at|date:"F j, Y" }}
            {% endif %}
          </h5>
        {% endif %}
        <a href="{% url "discipleships:discipleship_history" discipleship_slug=discipleship.slug %}" class="text-sm text-blue-600 hover:text-blue-700 font-medium">View discipleship history</a>
      </div>
      <div class="flex justify-around p-2">
        <a class="space-y-1 justify-center block" href="{{ discipleship.discipler.get_discipleships_url }}">
          <div class="text-xs sm:text-sm text-center font-semibold">
            {{ discipleship.discipler.get_full_name }}
          </div>
          {% with profile=discipleship.discipler %}
            <div class="w-full flex justify-center">
              {% include "profiles/components/profile_card/profile_rounded_picture.html" %}
            </div>
          {% endwith %}
          <div class="text-xs text-center font-medium">
            Discipler
          </div>
        </a>
        <a class="space-y-1 justify-center block" href="{{ discipleship.disciple.get_absolute_url }}">
          <div class="text-xs sm:text-sm text-center font-semibold">
            {{ discipleship.disciple.get_full_name }}
          </div>
          {% with profile=discipleship.disciple %}
            <div class="w-full flex justify-center">
              {% include "profiles/components/profile_card/profile_rounded_picture.html" %}
            </div>
          {% endwith %}
          <div class="text-xs text-center font-medium">
            Disciple
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
