{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        KNS | Kingdom Nurturing Suite
      {% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% comment %} Include css files {% endcomment %}
    {% include "head/css.html" %}
  </head>
  <body class="bg-gray-50">
    <main class="flex flex-col min-h-screen">
      {% if request.user.is_authenticated %}
        {% include "core/components/navbar/secondary_navbar.html" %}
      {% else %}
        {% include "core/components/navbar/navbar.html" %}
      {% endif %}

      <div class="flex-grow">
        {% include "core/components/layout/messages_alert.html" %}

        {% block base_content %}
          {% comment %} Base content block {% endcomment %}
        {% endblock base_content %}
      </div>

      {% if not request.user.is_authenticated %}
        {% include "core/components/footer/footer.html" %}
      {% endif %}

      {% include "head/body_scripts.html" %}
    </main>
  </body>
</html>
