{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        KNS | Kingdom Nurturing Suite
      {% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% comment %} Include css files {% endcomment %}
    {% include "head/css.html" %}
  </head>
  <body>
    {% include "core/components/navbar/navbar.html" %}

    <div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
      {% block base_content %}
        {% comment %} Base content block {% endcomment %}
      {% endblock base_content %}
    </div>

    {% include "core/components/footer/footer.html" %}

    {% include "head/body_scripts.html" %}
  </body>
</html>
