<div id="verified_banner" class="p-4 text-black bg-amber-300 border border-amber-200 rounded-md" role="alert">
  <div class="flex flex-col space-y-4">
    <div class="flex items-center">
      <iconify-icon icon="heroicons:exclaimation-circle-solid" class="text-xl"></iconify-icon>
      <span class="sr-only">Info</span>

      <div class="ms-3 text-sm font-medium">
        {{ profile.get_full_name }} is yet to verify their email address.
      </div>
    </div>

    {% if profile.role == 'member' or profile.role == 'external_person' %}
      <div class="flex justify-end">
        <a
          href="{% url "accounts:verification_email" user_id=profile.user.id %}"
          class="text-sm font-medium text-amber-900">
          Resend verification email
        </a>
      </div>
    {% endif %}
  </div>
</div>
