{% load profiles_custom_tags %}

{% if profile.mentorship_areas.count == 0 %}
  <div class="text-sm p-2 bg-red-50 border border-red-300 text-red-900 rounded-md w-full">
    {{ profile.get_full_name }} currently has no mentorship areas.
  </div>
{% endif %}

<div class="grid grid-cols-1 xs:grid-cols-2 gap-x-2 gap-y-2">
  {% for pma in profile.mentorship_areas.all %}
    <div class="p-3 bg-white border border-gray-200 rounded-sm flex flex-col">
      <a href="#">
        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900">
          {{ pma.mentorship_area.title }}
        </h5>
      </a>
      <p class="mb-3 font-normal text-gray-700 text-sm flex-grow">
        {{ pma.mentorship_area.content|safe }}
      </p>
    </div>
  {% endfor %}
</div>
