<div class="w-full grid grid-cols-1 xl:grid-cols-2 gap-4 xl:gap-4" style="grid-auto-rows: minmax(0, 1fr);">
  {% for family_group in family_groups %}
    <div class="border border-gray-300 bg-gray-100 rounded-md shadow-sm p-2 md:p-3 space-y-1">
      <h4 class="text-md font-bold flex items-center gap-x-1">
        {% if group.location_country %}
          <span class="mb-0 fw-semibold">
            <img
              alt="Event location flag"
              src="{{ group.location_country.flag }}"
            />
          </span>
        {% endif %}
        {{ family_group.name }}

        <a href="{{ family_group.leader.get_absolute_url }}" class="text-sm font-medium text-knsPrimary-500 hover:text-knsPrimary-600">
          | {{ family_group.leader }}
        </a>
      </h4>

      <p class="text-xs text-gray-800">
        {{ family_group.description|truncatechars:100 }}
      </p>

      <a
        href="{{ family_group.get_absolute_url }}"
        class="text-blue-500 hover:text-blue-700 text-sm font-semibold"
      >
        View Group
      </a>
    </div>
  {% endfor %}
</div>
