{% extends "base.html" %}

{% load static %}

{% block title %}
  KNS | Frequently asked questions
{% endblock title %}

{% block base_content %}
  <section class="container-default py-16 md:py-32">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Frequently asked questions</h2>

        <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">Welcome to the Frequently Asked Questions (FAQs) section of the Kingdom Nurturing Suite (KNS). Here, you will find answers to some of the most common questions about using KNS. If you have any other questions, please feel free to reach out to our support team.</p>
      </div>
      <!-- text - end -->


      <div id="accordion-collapse" data-accordion="collapse">
        {% for faq in faqs %}
          {% include "core/components/faqs/faq_item.html" %}
        {% endfor %}
      </div>

    </div>
  </section>
{% endblock base_content %}
