{% extends "base.html" %}

{% load static %}

{% block title %}
  KNS | About
{% endblock title %}

{% block base_content %}
  <section class="container-default py-16 md:py-32">
    <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
      <!-- text - start -->
      <div class="mb-10 md:mb-16">
        <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl">Frequently asked questions</h2>

        <p class="mx-auto max-w-screen-md text-center text-gray-500 md:text-lg">This is a section of some simple filler text, also known as placeholder text. It shares some characteristics of a real written text but is random or otherwise generated.</p>
      </div>
      <!-- text - end -->


      <div id="accordion-collapse" data-accordion="collapse">
        {% for faq in faqs %}
          {% include "core/components/faqs/faq_item.html" %}
        {% endfor %}
      </div>

    </div>
  </section>
{% endblock base_content %}
