{% extends "base.html" %}

{% block title %}
  KNS | Home
{% endblock title %}

{% block base_content %}
<div class="p-4 space-y-10">
  <div>
    <h3 class="text-4xl font-bold font-serif">Lorem ipsum dolor sit.</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam enim, mollitia nisi laudantium facere voluptas illum rem fuga corporis ipsa incidunt ipsam consectetur quas consequuntur, voluptatibus dignissimos pariatur quaerat, et ab labore! Fugiat quia amet nulla cupiditate maxime minima iure.</p>
  </div>
  <div>
    <h3 class="text-4xl font-bold font-sans">Lorem ipsum dolor sit.</h3>
    <p class="font-sans">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam enim, mollitia nisi laudantium facere voluptas illum rem fuga corporis ipsa incidunt ipsam consectetur quas consequuntur, voluptatibus dignissimos pariatur quaerat, et ab labore! Fugiat quia amet nulla cupiditate maxime minima iure.</p>
  </div>
  <div>
    <h3 class="text-4xl font-bold">Lorem ipsum dolor sit.</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam enim, mollitia nisi laudantium facere voluptas illum rem fuga corporis ipsa incidunt ipsam consectetur quas consequuntur, voluptatibus dignissimos pariatur quaerat, et ab labore! Fugiat quia amet nulla cupiditate maxime minima iure.</p>
  </div>
  <div>
    <h3 class="text-4xl font-bold">Lorem ipsum dolor sit.</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam enim, mollitia nisi laudantium facere voluptas illum rem fuga corporis ipsa incidunt ipsam consectetur quas consequuntur, voluptatibus dignissimos pariatur quaerat, et ab labore! Fugiat quia amet nulla cupiditate maxime minima iure.</p>
  </div>
</div>
{% endblock base_content %}
