{% if profile.current_classifications.count > 0 %}
  <div class="p-3 border border-gray-200 rounded-lg flex flex-col h-full">
    <div class="flex-grow">
      <div class="uppercase tracking-wider text-gray-600 font-semibold text-xs">Classification</div>
      <h5 class="text-2xl font-bold tracking-tight text-gray-900">
        {{ classifications }}
      </h5>
      {% if subclassifications %}
        <h6 class="mb-2 text-lg font-bold tracking-tight text-gray-800">
          {{ subclassifications }}
        </h6>
      {% endif %}
    </div>
    <div class="space-x-2 mt-auto">
      <a
        href="{% url "profiles:profile_classifications" profile_slug=profile.slug %}"
        class="text-sm font-medium text-blue-700 hover:text-blue-800"
      >
        Read more
      </a>

      <a
        href="{% url "profiles:edit_profile_classifications" profile_slug=profile.slug profile_classification_no=profile_classification_no %}"
        class="text-sm font-medium text-blue-700 hover:text-blue-800"
      >
        Update classification
      </a>
    </div>
  </div>

{% else %}
  <div class="p-3 border border-gray-200 rounded-lg flex flex-col h-full">
    <div class="uppercase tracking-wider text-gray-600 font-semibold text-xs">Classification</div>
    <h5 class="text-2xl mb-2 font-bold tracking-tight text-gray-900">
      {{ profile.get_full_name }} currently has no set classification
    </h5>
    <div class="space-x-2">
      <a
        href="#"
        class="text-sm font-medium text-blue-700 hover:text-blue-800"
      >
        Read more
      </a>

      <a
        href="{% url "profiles:edit_profile_classifications" profile_slug=profile.slug profile_classification_no=profile_classification_no %}"
        class="text-sm font-medium text-blue-700 hover:text-blue-800"
      >
        Assign classification
      </a>
    </div>
  </div>
{% endif %}
