{% load custom_tags %}

<div class="px-2 border rounded-md bg-gray-200">
  <div class="flex justify-end items-center">
    <span
      class="text-lg font-semibold rounded px-2 py-1 mr-1"
    >
      Step {{wizard.steps.step1 }} of {{ wizard.steps.count }}
    </span>
  </div>

  {% with current_step=form_steps|get_nth_element:current_step_index %}
    <div>
      <h3 class="font-serif font-semibold">
        {{ current_step.title }}
      </h3>
      <h6 class="font-sans">
        {{ current_step.subtitle }}
      </h6>

      <hr class="my-2 border-gray-300">

      <p>
        {{ current_step.description }}
      </p>
    </div>
  {% endwith %}
</div>
