<div class="p-3 border border-gray-200 rounded-lg flex flex-col h-full">
  <div class="flex-grow">
    <div class="uppercase tracking-wider text-gray-600 font-semibold text-xs">Mentorship areas</div>

    <div class="text-sm font-medium flex gap-x-2 items-center my-1 rounded-md {% if profile.is_mentor %}text-knsSecondary-700 bg-knsSecondary-50 {% else %} text-knsPrimary-600 bg-knsPrimary-50 border-knsPrimary-300 {% endif %} border p-1">
      {{ profile.get_full_name }} is {% if profile.is_mentor %}willing {% else %}not willing{% endif %}
        to mentor others
    </div>

    <h6 class="mb-2 text-lg font-bold tracking-tight text-gray-800">
      {{ profile.get_mentorship_areas_as_str }}
    </h6>
  </div>
  <div class="space-x-2 mt-auto">
    <a
      href="{% url "profiles:profile_mentorships" profile_slug=profile.slug %}"
      class="text-sm font-medium text-blue-700 hover:text-blue-800"
    >
      View mentorship details
    </a>
  </div>
</div>
