{% extends "profiles/profile_base.html" %}

{% block title %}
  {{ group.get_full_name }} | Edit faith milestones
{% endblock title %}

{% block group_base_content %}
  <section>
    <form
      method="POST"
      class="space-y-4"
      id="form-container"
      action="{% url "groups:edit_milestones" group_slug=group.slug %}"
    >
      {% csrf_token %}

      <div class="card-body flex flex-col space-y-4">
        <div>
          <h1 class="font-semibold text-xl text-primary">Faith milestones</h1>
          <p>Update the faith milestones of this group</p>
        </div>

        {% include "faith_milestones/forms/faith_milestones_form.html" %}
      </div>

      <div class="card-footer">
        <div class="flex justify-end space-x-2">
          {% include "core/components/globals/cancel_button.html" %}

          <button
            type="submit"
            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </section>
{% endblock group_base_content %}
