{% extends "groups/group_base.html" %}

{% load groups_custom_tags %}

{% block title %}
  KNS | {{ group.name }}
{% endblock title %}

{% block group_base_content %}
  <section>
    <div class="space-y-3">
      <h3 class="font-semibold text-md uppercase">Group Overview</h3>

      <div class="w-full grid grid-cols-3 xs:grid-cols-4 md:grid-cols-3 lg:grid-cols-3 gap-2 lg:gap-4 justify-center">
        {% include "groups/components/group_stats_overview.html" %}
      </div>
    </div>
  </section>
{% endblock group_base_content %}
