{% extends "base.html" %}

{% block title %}
  KNS | Groups
{% endblock title %}

{% block base_content %}
  <div class="container-default py-4 md:py-8">
    {% include "groups/components/group_header.html" %}

    {% if page_obj.paginator.count > 0 %}
      <div class="p-2 border border-gray-300 rounded-md">
        <div class="flex items-center gap-x-2">
          {% include "groups/forms/groups_search_form.html" %}

          {% include "groups/components/filter_groups/filter_groups_modal.html" %}
        </div>

        {% include "groups/components/groups_list/groups_list.html" %}
      </div>
    {% endif %}

    {% if page_obj.paginator.count == 0 %}
      <div class="border-l-2 border-knsPrimary-700 bg-knsPrimary-100 rounded-sm text-knsPrimary-800 p-3">
        You are yet to register your group. Register your group to make other groups on KNS visibile.
      </div>
    {% endif %}
  </div>
{% endblock base_content %}
