{% extends "base.html" %}

{% block base_content %}
  <section class="container-default py-4 sm:py-6">
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-12">
      <div class="col-span-1 sm:col-span-4 lg:col-span-3">
        {% include "groups/components/group_card/group_card.html" %}
      </div>

      <div class="col-span-1 sm:col-span-8 lg:col-span-9 space-y-4">
        {% include "groups/layout/group_tabs.html" %}

        <div>
          {% block group_base_content %}{% endblock group_base_content %}
        </div>
      </div>
    </div>
  </section>
{% endblock base_content %}
