<h2 id="group-basic-info-filter-accordion">
  <button type="button" class="flex items-center justify-between w-full p-3 font-medium rtl:text-right border border-gray-400" data-accordion-target="#group-basic-filter-accordion" aria-expanded="true" aria-controls="group-basic-filter-accordion">
    <span>Basic Information</span>
    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
    </svg>
  </button>
</h2>

<div id="group-basic-filter-accordion" class="hidden" aria-labelledby="group-basic-info-filter-accordion">
  <div class="p-3 border border-b-0 border-gray-200 space-y-4">
    {{ group_basic_filter_form }}
  </div>
</div>
