<div class="w-full flex justify-around items-center pt-1.5">
  <div>
    {% if profile.gender == 'female' %}
      <iconify-icon data-tooltip-target="gender-tooltip-{{ profile.id }}" icon="fa-solid:female" class="text-xl text-[#7B287D]"></iconify-icon>
    {% else %}
      <iconify-icon data-tooltip-target="gender-tooltip-{{ profile.id }}" icon="fa-solid:male" class="text-xl text-[#347FC4]"></iconify-icon>
    {% endif %}

    <!-- Tooltip -->
    <div
      role="tooltip"
      id="gender-tooltip-{{ profile.id }}"
      class="absolute bottom-full mb-2 w-max bg-gray-700 text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity"
    >
      {{ profile.gender.title }}
    </div>
  </div>

  <div>
    {% if profile.is_mentor %}
      <iconify-icon
        icon="hugeicons:mentor"
        class="text-2xl text-[#3185FC]"
        data-tooltip-target="mentor-tooltip-{{ profile.id }}"
      ></iconify-icon>
    {% else %}
      <iconify-icon
        icon="hugeicons:mentor"
        class="text-2xl text-[#E54B4B]"
        data-tooltip-target="mentor-tooltip-{{ profile.id }}"
      ></iconify-icon>
    {% endif %}

    <!-- Tooltip -->
    <div
      role="tooltip"
      id="mentor-tooltip-{{ profile.id }}"
      class="absolute bottom-full mb-2 w-max bg-gray-700 text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity"
    >
      {% if profile.is_mentor %}
        Willing to mentor others
      {% else %}
        Not willing to mentor others
      {% endif %}
    </div>
  </div>

  <div>
    {% if profile.movement_training_facilitator %}
      <iconify-icon
        class="text-xl text-[#3185FC]"
        icon="icon-park-solid:circles-seven"
        data-tooltip-target="mt-tooltip-{{ profile.id }}"
      ></iconify-icon>
    {% else %}
      <iconify-icon
        class="text-xl text-[#E54B4B]"
        icon="icon-park-solid:circles-seven"
        data-tooltip-target="mt-tooltip-{{ profile.id }}"
      ></iconify-icon>
    {% endif %}

    <!-- Tooltip -->
    <div
      role="tooltip"
      id="mt-tooltip-{{ profile.id }}"
      class="absolute bottom-full mb-2 w-[250px] bg-gray-700 text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity text-center"
    >
      {% if profile.movement_training_facilitator %}
        Willing to facilitate movement trainings
      {% else %}
        Not willing to facilitate movement trainings
      {% endif %}
    </div>
  </div>

  <div>
    {% if profile.skill_training_facilitator %}
      <iconify-icon
        class="text-2xl text-[#3185FC]"
        icon="healthicons:i-training-class"
        data-tooltip-target="st-tooltip-{{ profile.id }}"
      ></iconify-icon>
    {% else %}
      <iconify-icon
        class="text-2xl text-[#E54B4B]"
        icon="healthicons:i-training-class"
        data-tooltip-target="st-tooltip-{{ profile.id }}"
      ></iconify-icon>
    {% endif %}

    <!-- Tooltip -->
    <div
      role="tooltip"
      id="st-tooltip-{{ profile.id }}"
      class="absolute bottom-full mb-2 w-[250px] text-center bg-gray-700 text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity"
    >
      {% if profile.skill_training_facilitator %}
        Willing to facilitate skill trainings
      {% else %}
        Not willing to facilitate skill trainings
      {% endif %}
    </div>
  </div>

  {% if profile.is_under_age %}
    <div>
      {% if not profile.needs_consent_form %}
        <iconify-icon
          class="text-2xl text-[#3185FC]"
          icon="tabler:number-18-small"
          data-tooltip-target="under-age-tooltip-{{ profile.id }}"
        ></iconify-icon>
      {% else %}
        <iconify-icon
          class="text-2xl text-[#E54B4B]"
          icon="tabler:number-18-small"
          data-tooltip-target="under-age-tooltip-{{ profile.id }}"
        ></iconify-icon>
      {% endif %}

      <!-- Tooltip -->
      <div
        role="tooltip"
        id="under-age-tooltip-{{ profile.id }}"
        class="absolute bottom-full mb-2 w-max bg-gray-700 text-white text-xs rounded px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity"
      >
        {% if profile.needs_consent_form %}
          Consent form not approved
        {% else %}
          Consent form approved
        {% endif %}
      </div>
    </div>
  {% endif %}
</div>
