{% extends "base.html" %}

{% block title %}
  KNS | Discipleships
{% endblock %}

{% block base_content %}
  <section class="container-default py-4 md:py-8 space-y-2">
    <div>
      <h1 class="text-xl xs:text-2xl font-semibold font-serif">
        Discipleships
      </h1>
      <p class="text-xs sm:text-sm md:text-md">
        Discipleships involving people that are your direct descendants.
      </p>
    </div>

    <div class="p-2 border border-gray-300 rounded-md">
      <div class="flex items-center gap-x-2">
        <form class="w-full flex items-center gap-x-2" method="GET">
          <label for="search" class="text-sm font-medium text-gray-900 sr-only">Search</label>
          <input name="search" type="search" id="search" class="block w-full p-2 xs:p-3 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50" placeholder="Search"  value="{{ search_query|default_if_none:'' }}"/>

          <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2 py-2 flex items-center">
            <iconify-icon icon="ic:round-search" class="text-xl"></iconify-icon>
            <span class="hidden xs:block">
              Search
            </span>
          </button>

          <!-- Include current filter parameters as hidden inputs -->
          {% for key, value in request.GET.items %}
            {% if key != "search" and key != "page" %}
              <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endif %}
          {% endfor %}
        </form>
      </div>

      <div class="my-2">
        {% include "discipleships/components/filter_discipleships.html" %}
      </div>

      {% if discipleships.count == 0 %}
        <div class="col-span-3">
          {% include "discipleships/components/no_discipleships_banner.html" %}
        </div>
      {% else %}
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-2 sm:gap-4">
          {% for discipleship in page_obj %}
            {% include "discipleships/components/discipleship_item.html" %}
          {% endfor %}
        </div>

        <div class="w-full flex justify-center mt-10">
          {% include "core/components/pagination.html" %}
        </div>
      {% endif %}
    </div>
  </section>
{% endblock base_content %}
