{% load static %}

<button type="button" class="text-sm bg-knsSecondary w-8 h-8 flex items-center justify-center rounded-full md:me-0 focus:ring-4 focus:ring-knsSecondary-300 dark:focus:ring-knsSecondary-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
  <span class="sr-only">Open user menu</span>
  <iconify-icon icon="iconamoon:profile-fill" class="text-2xl text-white"></iconify-icon>
</button>
<!-- Dropdown menu -->
<div class="z-50 hidden my-4 text-base list-none divide-y divide-gray-400 rounded-lg shadow bg-knsSecondary-700" id="user-dropdown">
  <div class="px-4 py-3">
    {% if request.user.profile %}
      <span class="block text-sm text-white">Bonnie Green</span>
    {% endif %}
    <span class="block text-sm truncate font-light text-gray-300">
      {{ request.user.email }}
    </span>
  </div>
  <ul class="py-2" aria-labelledby="user-menu-button">
    <li>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Account</a>
    </li>
    {% if request.user.profile %}
      <li>
        <a href="{% url "profiles:profile_detail" profile_slug=request.user.profile.slug %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Profile</a>
      </li>
    {% else %}
      <li>
        <a href="{% url "profiles:create_profile" %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Create my profile</a>
      </li>
    {% endif %}
    <li>
      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Group</a>
    </li>
    <li>
      <a href="{% url "accounts:logout" %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign out</a>
    </li>
  </ul>
</div>
