<nav class="bg-knsLight-300">
  <div class="container-default">
    <div class="flex justify-between items-center py-4">

      <!-- Home Icon -->
      <div class="flex-shrink-0">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
            <iconify-icon icon="iconamoon:home-fill" class="text-xl text-knsSecondary"></iconify-icon>
          </span>
        </a>
      </div>

      <!-- Spacer to push the menu items to the right -->
      <div class="flex flex-grow"></div>

      <!-- Notification Drawer and Account Menu -->
      <div class="flex items-center">
        <div class="px-2">
          {% include "core/components/notification_drawer/notification_drawer.html" %}
        </div>
        <div>
          {% include "core/components/navbar/account_menu.html" %}
        </div>
      </div>

    </div>
  </div>
</nav>

<nav class="bg-knsSecondary-600">
  <div class="container-default">
    <div class="py-3 mx-auto">
      <div class="flex items-center">
        <ul class="flex flex-row mt-0 space-x-6 rtl:space-x-reverse text-sm">
          <li class="text-white cursor-pointer">
            <div id="account_menu_dropdown" data-dropdown-toggle="dropdown" class="text-white flex items-center space-x-2" type="button">People <iconify-icon icon="tabler:caret-down-filled" class="ml-1 text-lg"></iconify-icon>
            </div>

            <!-- Dropdown menu -->
            <div id="dropdown" class="z-10 hidden divide-y divide-gray-100 rounded-lg shadow w-44 bg-knsSecondary-600">
              <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="account_menu_dropdown">
                <li>
                  <a href="{% url "profiles:index" %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Profiles</a>
                </li>
                <li>
                  <a href="/groups" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Groups</a>
                </li>
                <li>
                  <a href="/discipleships" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Discipleships</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mentorships</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#" class="text-gray-900 dark:text-white hover:underline">Events</a>
          </li>
          <li>
            <a href="#" class="text-gray-900 dark:text-white hover:underline">Articles</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
