<div class="flex flex-col md:flex-row md:items-end space-y-4 md:space-y-0 justify-between pb-2">
  <div>
    <h1 class="text-2xl font-semibold font-serif">
      Groups
    </h1>
    <p class="text-sm sm:text-md">
      View all the DBS and Discipleship groups that are descended from your group.
    </p>
  </div>

  {% if request.user.profile.is_eligible_to_register_group %}
    <div>
      <a href="{% url "groups:register_group" %}" class="px-3 py-2 gap-x-2 text-xs font-medium text-center inline-flex items-center text-white bg-knsSecondary-700 rounded-lg hover:bg-knsSecondary-800 focus:ring-4 focus:outline-none focus:ring-knsSecondary-300 dark:bg-knsSecondary-600 dark:hover:bg-knsSecondary-700 dark:focus:ring-knsSecondary-800">
        <iconify-icon icon="material-symbols:group-add-rounded" class="text-lg"></iconify-icon>
        Register your group
      </a>
    </div>
  {% endif %}
</div>
