<div>
  {% with title="Descendant groups" %}
    {% with value=group.get_descendant_count %}
      {% with icon="typcn:flow-children" %}
        {% include "groups/components/group_modal/group_stat_item.html" %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
</div>

<div>
  {% with title="Total people in group" %}
    {% with value=group.members.count %}
      {% with icon="fluent:people-add-32-light" %}
        {% include "groups/components/group_modal/group_stat_item.html" %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
</div>

<div>
  {% with title="Average age" %}
    {% with value=group.average_age %}
      {% with icon="ant-design:number-outlined" %}
        {% include "groups/components/group_modal/group_stat_item.html" %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
</div>

<div>
  {% with title="Male members" %}
    {% with value=group.male_count %}
      {% with icon="fa-solid:male" %}
        {% include "groups/components/group_modal/group_stat_item.html" %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
</div>

<div>
  {% with title="Female members" %}
    {% with value=group.female_count %}
      {% with icon="fa-solid:female" %}
        {% include "groups/components/group_modal/group_stat_item.html" %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
</div>

<div>
  {% with title="Leaders in group" %}
    {% with value=group.leaders_count %}
      {% with icon="heroicons:user-group-16-solid" %}
        {% include "groups/components/group_modal/group_stat_item.html" %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
</div>

<div>
  {% with title="Members in group" %}
    {% with value=group.members_count %}
      {% with icon="iconamoon:profile-light" %}
        {% include "groups/components/group_modal/group_stat_item.html" %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
</div>

<div>
  {% with title="E. Persons" %}
    {% with value=group.external_persons_count %}
      {% with icon="fluent:person-ribbon-24-regular" %}
        {% include "groups/components/group_modal/group_stat_item.html" %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
</div>

<div>
  {% with title="Mentors" %}
    {% with value=group.mentors_count %}
      {% with icon="hugeicons:teacher" %}
        {% include "groups/components/group_modal/group_stat_item.html" %}
      {% endwith %}
    {% endwith %}
  {% endwith %}
</div>
