{% if profile.current_level %}
  <div class="p-3 border border-gray-200 rounded-lg flex flex-col h-full">
    <div class="flex-grow">
      <div class="uppercase tracking-wider text-gray-600 font-semibold text-xs">Level</div>
      <h5 class="text-2xl font-bold tracking-tight text-gray-900">
        {{ profile.current_level.level.title }}
      </h5>
      {% if profile.current_level.sublevel %}
        <h6 class="mb-2 text-lg font-bold tracking-tight text-gray-800">
          {{ profile.current_level.sublevel.title }}
        </h6>
      {% endif %}
    </div>
    <div class="space-x-2 mt-auto">
      <a
        href="{% url "profiles:profile_levels" profile_slug=profile.slug %}"
        class="text-sm font-medium text-blue-700 hover:text-blue-800"
      >
        Read more
      </a>

      <a
        href="{% url "profiles:edit_profile_level" profile_slug=profile.slug %}"
        class="text-sm font-medium text-blue-700 hover:text-blue-800"
      >
        Update level
      </a>
    </div>
  </div>
{% else %}
  <div class="block p-3 border border-gray-200 rounded-lg shadow-sm">
    <div class="uppercase tracking-wider text-gray-600 font-semibold text-xs">Level</div>
    <h5 class="text-2xl mb-2 font-bold tracking-tight text-gray-900">
      {{ profile.get_full_name }} currently has no set level
    </h5>
    <div class="space-x-2">
      <a
        href="{% url "profiles:profile_levels" profile_slug=profile.slug %}"
        class="text-sm font-medium text-blue-700 hover:text-blue-800"
      >
        Read more
      </a>

      <a
        href="{% url "profiles:edit_profile_level" profile_slug=profile.slug %}"
        class="text-sm font-medium text-blue-700 hover:text-blue-800"
      >
        Assign level
      </a>
    </div>
  </div>
{% endif %}
