{% load profiles_custom_tags %}

<div class="mt-6">
  <div class="flex justify-between items-center">
    <h1 class="text-lg font-semibold">
      Levels
    </h1>

    {% if request.user|is_profiles_group_leader:profile %}
      <a
        href="#"
        class="px-2 py-1.5 items-center text-xs sm:text-sm text-center text-white bg-knsSecondary-700 rounded-lg hover:bg-knsSecondary-800 focus:ring-4 focus:outline-none focus:ring-knsSecondary-300"
      >
        Edit
      </a>
    {% endif %}
  </div>

  <div class="px-2">
    {% include "profiles/components/levels/profile_levels_list.html" %}
  </div>
</div>
