<style>
  /* Hide the file input */
  .custom-file-upload input[type="file"] {
    display: none;
  }
</style>

{% with form=profile_picture_form %}
  {% include 'core/components/forms/form_error.html' %}
{% endwith %}

<div class="flex flex-col space-y-4">
  <div class="w-full">
    {% with field=profile_picture_form.image %}
      <label for="{{ field.id_for_label }}" class="bg-gray-200 border border-gray-300 rounded px-4 py-2 cursor-pointer hover:bg-gray-300">
        {{ field }}
      </label>
    {% endwith %}
  </div>
  <div class="w-full">
    {% if profile and profile.image %}
      <img src="{{ profile.image.url }}" alt="" class="w-full sm:w-1/2 md:w-1/3 h-auto rounded border border-gray-300">
    {% endif %}
  </div>
</div>
