{% extends "base.html" %}

{% block base_content %}
  <section class="container-default py-4 sm:py-6">
    {% include "profiles/components/banners/banners.html" %}

    <div class="grid gap-4 grid-cols-1 sm:grid-cols-5 lg:grid-cols-4">
      <div class="col-span-1 sm:col-span-2 lg:col-span-1">
        {% include "profiles/components/profile_card/profile_card.html" %}
      </div>

      <div class="col-span-1 sm:col-span-3 lg:col-span-3 space-y-4">
        {% include "profiles/layout/profile_tabs.html" %}

        <div>
          {% block profile_base_content %}{% endblock profile_base_content %}
        </div>
      </div>
    </div>
  </section>
{% endblock base_content %}
