<div class="rounded-lg border pt-4">
  <div class="space-y-4">
    <div class="flex justify-between items-center px-2">
      <h2 class="text-md font-bold text-gray-800 lg:text-lg">
        {{ profile.get_full_name }}
      </h2>

      {% if is_member_of_user_group or profile == request.user.profile %}
        {% include "profiles/components/profile_card/profile_card_menu.html" %}
      {% endif %}
    </div>

    <div class="mb-0.5">
      {% if not profile.image %}
        <img
          alt="blog"
          src="https://dummyimage.com/720x400"
          class="lg:h-48 md:h-36 w-full object-cover object-center"
        >
      {% else %}
        <img
          src="{{ profile.image.url }}"
          alt="{{ profile.get_full_name }}"
          class="h-48 lg:h-48 md:h-36 w-full object-cover object-center"
        >
      {% endif %}
    </div>
  </div>

  <div class="p-4 pb-0 space-y-4">
    {% include "profiles/components/profile_icons/profile_icons.html" %}
  </div>

  {% if profile.group_led %}
    <div class="p-4 pb-0">
      <div class="text-xs text-gray-500 uppercase font-semibold">Leader of</div>
      <a href="{{ profile.group_led.get_absolute_url }}" class="font-bold flex items-center gap-x-1 text-blue-500 hover:text-blue-700">
        {% if profile.group_led.location_country %}
          <span class="mb-0 fw-semibold">
            <img
              alt="Event location flag"
              src="{{ profile.group_led.location_country.flag }}"
            />
          </span>
        {% endif %}
        {{ profile.group_led.name }}
      </a>
    </div>
  {% endif %}

  {% if profile.group_in %}
    <div class="p-4 pb-0">
      <div class="text-xs text-gray-500 uppercase font-semibold">Member of</div>
      <a href="{{ profile.group_in.group.get_absolute_url }}" class="font-bold flex items-center gap-x-1 text-blue-500 hover:text-blue-700">
        {% if profile.group_in.group.location_country %}
          <span class="mb-0 fw-semibold">
            <img
              alt="Event location flag"
              src="{{ profile.group_in.group.location_country.flag }}"
            />
          </span>
        {% endif %}
        {{ profile.group_in.group.name }}
      </a>
    </div>
  {% endif %}

  <div class="px-4 my-4 space-y-4">
    {% if profile.contact_details_is_visible %}
      <div>
        <div class="text-xs text-gray-500 uppercase font-semibold">Location</div>
        <div class="flex gap-x-1.5 items-center">
          <img
            src="{{ profile.location_country.flag }}"
            alt="{{ profile.location_country.name }}"
          />
          {{profile.location_display}}
        </div>
      </div>
    {% else %}
      {% if profile == request.user.profile %}
        <div class="text-sm text-knsPrimary-600 bg-knsPrimary-100 p-2 rounded-sm">
          Your contact information is hidden.
        </div>
      {% endif %}
    {% endif %}

    {% if profile.bio_details_is_visible %}
      <div>
        <div class="text-xs text-gray-500 uppercase font-semibold">Date of birth</div>
        <div>
          {{ profile.formatted_date_of_birth }}
        </div>
      </div>

      <div>
        <div class="text-xs text-gray-500 uppercase font-semibold">Place of birth</div>
        <div class="flex gap-x-1.5 items-center">
          <img
            src="{{ profile.place_of_birth_country.flag }}"
            alt="{{ profile.place_of_birth_country.name }}"
          />
          {{profile.place_of_birth_display}}
        </div>
      </div>
    {% else %}
      {% if profile == request.user.profile %}
        <div class="text-sm text-knsPrimary-600 bg-knsPrimary-100 p-2 rounded-sm">
          Your bio information is hidden.
        </div>
      {% endif %}
    {% endif %}
  </div>

  {% if profile.role != 'external_person' and not profile.user.is_visitor %}
    <div>
      {% include "faith_milestones/components/profile_faith_milestones.html" %}
    </div>
  {% endif %}
</div>
