<button
  type="button"
  id="profileMenuDropdown"
  data-dropdown-toggle="dropdownDots"
  class="inline-flex items-center p-1 text-sm font-medium text-center text-white bg-knsSecondary rounded-lg hover:bg-knsSecondary-600 focus:ring-4 focus:outline-none"
  >
    <iconify-icon icon="mdi:dots-vertical" class="text-xl"></iconify-icon>
  </button>

  <!-- Dropdown menu -->
  <div id="dropdownDots" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
    <ul class="py-2 text-sm text-gray-700" aria-labelledby="profileMenuDropdown">
      <li>
        <a
          href="{% url "profiles:edit_bio_details" profile_slug=profile.slug %}"
          class="block px-4 py-2 hover:bg-gray-100"
        >
          Edit bio details
        </a>
      </li>

      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100">Earnings</a>
      </li>
    </ul>
    <div class="py-1">
      <a
        href="{% url "profiles:profile_settings" profile_slug=profile.slug %}"
        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
      >
        Settings
      </a>

      {% if profile.can_become_leader_role and is_member_of_user_group %}
        <a
          href="{% url "profiles:make_leader_page" profile_slug=profile.slug %}"
          class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
        >
          Make leader
        </a>
      {% endif %}
    </div>
  </div>
