<div class="rounded-lg border pt-4">
  <div class="space-y-4">
    <div class="flex justify-between px-4 items-end">
      <div>
        <h2 class="text-lg font-bold text-gray-800 lg:text-xl">
          {{ profile.get_full_name }}
        </h2>

        <div class="text-sm text-gray-500">
          {{ profile.get_role_display_str }}
          {% if profile.group_led %}
            -
            <a
              title="Edit bio details"
              href="{{ profile.group_led.get_absolute_url }}"
              class="text-base font-semibold text-blue-600 hover:text-blue-700"
            >
              {{ profile.group_led.name }}
            </a>
          {% endif %}
        </div>
      </div>

      {% if is_member_of_user_group or profile == request.user.profile %}
        {% include "profiles/components/profile_card/profile_card_menu.html" %}
      {% endif %}
    </div>

    <div class="mb-0.5">
      {% if profile.pending_make_leader_approval_request and is_member_of_user_group %}
        <div class="p-2 bg-gray-200 text-sm font-semibold">
          You have submitted a request to make {{ profile.get_full_name }} a leader role.
        </div>
      {% endif %}
      {% if not profile.image %}
        <img
          alt="blog"
          src="https://dummyimage.com/720x400"
          class="lg:h-48 md:h-36 w-full object-cover object-center"
        >
      {% else %}
        <img
          src="{{ profile.image.url }}"
          alt="{{ profile.get_full_name }}"
          class="h-48 lg:h-48 md:h-36 w-full object-cover object-center"
        >
      {% endif %}
    </div>
  </div>

  <div class="p-4 pb-0 space-y-4">
    {% include "profiles/components/profile_icons/profile_icons.html" %}
  </div>

  <div class="px-4 mt-4 space-y-4">
    {% if profile.contact_details_is_visible %}
      {% comment %} <div>
        <div class="text-xs text-gray-500 uppercase font-semibold">Phone</div>
        <div>
          {{ profile.phone_display }}
        </div>
      </div> {% endcomment %}

      <div>
        <div class="text-xs text-gray-500 uppercase font-semibold">Location</div>
        <div class="flex gap-x-1.5 items-center">
          <img
            src="{{ profile.location_country.flag }}"
            alt="{{ profile.location_country.name }}"
          />
          {{profile.location_display}}
        </div>
      </div>
    {% else %}
      {% if profile == request.user.profile %}
        <div class="text-sm text-knsPrimary-600 bg-knsPrimary-100 p-2 rounded-sm">
          Your contact information is hidden.
        </div>
      {% endif %}
    {% endif %}

    {% if profile.bio_details_is_visible %}
      <div>
        <div class="text-xs text-gray-500 uppercase font-semibold">Date of birth</div>
        <div>
          {{ profile.formatted_date_of_birth }}
        </div>
      </div>

      <div>
        <div class="text-xs text-gray-500 uppercase font-semibold">Place of birth</div>
        <div class="flex gap-x-1.5 items-center">
          <img
            src="{{ profile.place_of_birth_country.flag }}"
            alt="{{ profile.place_of_birth_country.name }}"
          />
          {{profile.place_of_birth_display}}
        </div>
      </div>
    {% else %}
      {% if profile == request.user.profile %}
        <div class="text-sm text-knsPrimary-600 bg-knsPrimary-100 p-2 rounded-sm">
          Your bio information is hidden.
        </div>
      {% endif %}
    {% endif %}
  </div>

  <div class="mt-4">
    {% include "faith_milestones/components/profile_faith_milestones.html" %}
  </div>
</div>
