<form class="w-full" method="GET">
  <label for="search" class="text-sm font-medium text-gray-900 sr-only">Search</label>
  <div class="relative">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
      <iconify-icon icon="ic:outline-search" class="text-xl text-gray-500"></iconify-icon>
    </div>
    <input name="search" type="search" id="search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50" placeholder="Search"  value="{{ search_query|default_if_none:'' }}"/>
    <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2">Search</button>

    <!-- Include current filter parameters as hidden inputs -->
    {% for key, value in request.GET.items %}
      {% if key != "search" and key != "page" %}
        <input type="hidden" name="{{ key }}" value="{{ value }}">
      {% endif %}
    {% endfor %}
  </div>
</form>
