<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
  </head>
  <body>
      <h2>Change Password</h2>
    <form method="POST" action="{% url "accounts:change_password" %}">
      {% csrf_token %}
      <div>
        <label for="{{ change_password_form.current_password.id_for_label }}">Current password:</label>
        {{ change_password_form.current_password }}
        {% if change_password_form.current_password.errors %}
          <div>{{ change_password_form.current_password.errors }}</div>
        {% endif %}
      </div>
      <div>
        <label for="{{ change_password_form.new_password.id_for_label }}">New password:</label>
        {{ change_password_form.new_password }}
        {% if change_password_form.new_password.errors %}
          <div>{{ change_password_form.new_password.errors }}</div>
        {% endif %}
      </div>
      <div>
        <label for="{{ change_password_form.confirm_new_password.id_for_label }}">Confirm new password:</label>
        {{ change_password_form.confirm_new_password }}
        {% if change_password_form.confirm_new_password.errors %}
          <div>{{ change_password_form.confirm_new_password.errors }}</div>
        {% endif %}
      </div>
      <div>
        <button type="submit">Change Password</button>
      </div>
    </form>
  </body>
</html>
