{% extends "base.html" %}

{% block title %}
  KNS | Account page
{% endblock title %}

{% block base_content %}
  <section class="container-default">
    <h1>Account page</h1>

    <div>
      Email
      <div>{{ user.email }}</div>
    </div>

    <hr>

    <div>
      Verified
      <div>{{ user.verified }}</div>
    </div>

    <hr>

    <div>
      Visitor
      <div>{{ user.is_visitor }}</div>
    </div>

    <hr>

    <div>
      Agreed to terms
      <div>{{ user.agreed_to_terms }}</div>
    </div>


    <a href="{% url "accounts:logout" %}">Logout</a>
    <a href="{% url "accounts:change_password" %}">Change password</a>
  </section>
{% endblock base_content %}
