<section>
  {% if page_obj.paginator.count > 0 %}
    <div class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-3 md:grid-cols-4">
      {% for profile in page_obj %}
        {% include "profiles/components/profiles_list/profiles_list_item.html" %}
      {% endfor %}
    </div>

    <div class="w-full flex justify-center mt-10">
      {% include "core/components/pagination.html" %}
    </div>
  {% else %}
    <div id="marketing-banner" tabindex="-1" class="flex flex-col md:flex-row justify-between w-w-full p-4 mt-4 bg-knsDark-800 border border-gray-100 rounded-lg shadow-sm text-white">
      <div class="flex flex-col items-start mb-3 me-4 md:items-center md:flex-row md:mb-0">
        <p class="flex items-center text-sm font-normal text-white">
          There are no profiles to display.
        </p>
      </div>
    </div>
  {% endif %}
</section>
