<div class="flex flex-wrap text-lg sm:text-sm border-b border-gray-300 gap-x-10 sm:gap-x-5 md:gap-x-8 pb-1 items-end" role="tablist">
  <a href="{{ profile.get_absolute_url }}" class="{% if request.path == profile.get_absolute_url %}text-knsPrimary font-semibold{% endif %}">
    <iconify-icon icon="ri:dashboard-fill"></iconify-icon>
    <span class="hidden sm:block">
      Overview
    </span>
  </a>

  <a href="{{ profile.get_trainings_url }}" class="{% if request.path == profile.get_trainings_url %}text-knsPrimary font-semibold{% endif %}">
    <iconify-icon icon="oui:training"></iconify-icon>
    <span class="hidden sm:block">
      Trainings
    </span>
  </a>

  {% if profile.group_led %}
    <a href="{{ profile.get_discipleships_url }}" class="{% if request.path == profile.get_discipleships_url %}text-knsPrimary font-semibold{% endif %}">
      <iconify-icon icon="mdi:bible"></iconify-icon>
      <span class="hidden sm:block">
        Discipleships
      </span>
    </a>
  {% endif %}

  <a href="{{ profile.get_activities_url }}" class="{% if request.path == profile.get_activities_url %}text-knsPrimary font-semibold{% endif %}">
    <iconify-icon icon="uim:list-ul"></iconify-icon>
    <span class="hidden sm:block">
      Activities
    </span>
  </a>
</div>
