<div class="flex flex-col space-y-0.5 mb-4">
  {% if profile.needs_consent_form %}
    {% include "profiles/components/banners/profile_banners/consent_banner/consent_form_banner.html" %}
  {% endif %}

  {% comment %} Display the banner if the user has not yet verified their email address {% endcomment %}


  {% if not profile.user.verified %}
    {% comment %} Display the banner if the profile is a member of the users group or the profile is the users profile {% endcomment %}
    {% if is_member_of_user_group and not request.user.profile == profile %}
      {% include "profiles/components/banners/profile_banners/email_verification_banner.html" %}
    {% endif %}
  {% endif %}
</div>
