<div class="flex flex-col space-y-0.5">
  {% comment %} User not verified banner {% endcomment %}
  {% if not request.user.verified %}
    <div id="verified_banner" class="py-4 text-black bg-knsPrimary-300 border border-knsPrimary-500" role="alert">
      <div class="container-default flex items-center">
        <iconify-icon icon="heroicons:exclaimation-circle-solid" class="text-xl"></iconify-icon>
        <span class="sr-only">Info</span>

        <div class="ms-3 text-sm font-medium">
          You have not verified your email address. To have full access to all features you must verify your email address.
        </div>
      </div>
    </div>
  {% endif %}

  {% comment %} User not agreed to terms banner {% endcomment %}
  {% if not request.user.agreed_to_terms %}
    <div id="agreed_to_terms_banner" class="py-4 text-black bg-knsPrimary-300 border border-knsPrimary-500" role="alert">
      <div class="container-default flex items-center">
        <iconify-icon icon="heroicons:exclaimation-circle-solid" class="text-xl"></iconify-icon>
        <span class="sr-only">Info</span>

        <div class="ms-3 text-sm font-medium">
          You have not agreed to our Terms and Conditions. To have full access to all features you must agree to our terms and conditions.
        </div>
      </div>
    </div>
  {% endif %}
</div>
