{% load groups_custom_tags %}

<div class="bg-green-50 border rounded-md p-2 border-green-300 space-y-1">
  <div class="text-xs text-gray-400">
    {{ faith_milestone.created_at|date:"F j, Y" }}
  </div>

  <div class="font-medium text-sm text-green-900 leading-5 flex gap-x-2 items-start">
    {{ faith_milestone.title }}
  </div>

  <div>
    {% if request.user|is_leader_of_parent_group:group and faith_milestone.type == 'group' %}
      <button
        data-confirm-url="{% url "groups:remove_group_milestone" milestone_id=item_faith_milestone.id %}"
        data-confirm-message="Remove this faith milestone?"
        class="text-red-700 hover:text-red-900 font-medium text-sm"
      >
        Remove
        <span class="sr-only">Icon description</span>
      </button>
    {% endif %}
  </div>

</div>
