{% load groups_custom_tags %}

<label>
  <input class="peer/showLabel absolute scale-0" type="checkbox" />
  <span class="block max-h-10 overflow-hidden py-0 rounded-b-md text-black transition-all duration-300 peer-checked/showLabel:max-h-full peer-checked/showLabel:pb-4 peer-checked/showLabel:bg-knsSecondary-200 peer-checked/showLabel:rounded-b-md">
    <div class="flex items-center justify-between rounded-b-md bg-knsSecondary-200 px-2">
      <h3 class="flex h-10 cursor-pointer items-center font-bold w-full">Faith Milestones</h3>

      <div class="text-xs bg-gray-200 rounded-2xl p-1.5 font-semibold">{{ group.faith_milestones.count }}/10</div>
    </div>
    <div class="px-2 space-y-4">
      <p class="text-sm text-black">
        Faith Milestones helps track a group's spiritual steps. It highlights growth and involvement in faith by the group, offering a way to celebrate, and measure progress.
      </p>

      {% if request.user|is_leader_of_parent_group:group %}
        <div>
          <a
            href="{% url "groups:edit_group_milestones" group_slug=group.slug %}"
            class="w-full block py-1.5 items-center text-xs sm:text-sm text-center text-white bg-knsSecondary-700 rounded-lg hover:bg-knsSecondary-800 focus:ring-4 focus:outline-none focus:ring-knsSecondary-300"
          >
            Edit
          </a>

        </div>
      {% endif %}

      {% if group.faith_milestones.count == 0 %}
        <div class="p-2 border border-red-400 bg-red-100 rounded-md font-medium text-sm w-full space-y-2">
          <p>
            There are no faith milestones to display at the moment.
          </p>

          {% if group.leader == request.user.profile and not request.user|is_leader_of_parent_group:group %}
            <p>
              Your group leader, {{ group.leader.group_in.group.leader }}, is responsible for updating this section.
            </p>
          {% endif %}
        </div>

      {% else %}
        <div class="space-y-2">
          {% for item_faith_milestone in group.faith_milestones.all %}
            {% with faith_milestone=item_faith_milestone.faith_milestone %}
              {% include "faith_milestones/components/faith_milestones_item.html" %}
            {% endwith %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </span>
</label>
