<div class="flex flex-col space-y-1">
  {% if field.help_text %}
    <span class="small text-muted">
      {{ field.help_text }}
    </span>
  {% endif %}

  <div class="flex items-center">
    {{ field }}
    <label for="{{ field.id }}" class="ms-2 text-sm font-medium text-gray-900">
      {{ field.label_tag }}
    </label>
  </div>

  {% if field.errors %}
    <div class="text-red-600 font-semibold text-xs" style="font-size: 0.8em">
      {{ field.errors|striptags }}
    </div>
  {% endif %}
</div>
