<div class="border border-white shadow-sm rounded-md bg-white p-3 space-y-2">
  <div class="flex flex-row justify-between items-center">
    <div class="flex justify-start gap-x-1">
      <iconify-icon icon="{{ notification.icon }}" class="text-xl"></iconify-icon>
      <h5 class="text-sm font-bold">{{notification.title}}</h5>
    </div>

    <div class="text-xs text-gray-500 font-light">
      {{ notification.time_since_created }}
    </div>
  </div>

  <p class="text-xs font-medium text-gray-600">
    {{ notification.message }}
  </p>

  <div class="flex items-center justify-start gap-x-2 font-semibold text-sm">
    <a href="{% url 'core:mark_notification_and_redirect' notification.id %}" class="text-blue-500 hover:text-blue-700">View</a>
  </div>
</div>
