{% extends "base.html" %}

{% block title %}
  KNS | Create your profile
{% endblock %}

{% block base_content %}
  <section class="container-default py-6">
    <div>
      <h1 class="text-2xl font-semibold font-serif">
        Create your profile
      </h1>
      <p class="text-sm sm:text-md">
        Submit the form below to create your profile. You will not be able to access some parts of the application without having a profile.
      </p>
    </div>
  </section>
{% endblock base_content %}
