{% extends "profiles/profile_base.html" %}

{% block title %}
  {{ profile.get_full_name }} | Edit vocations
{% endblock title %}

{% block profile_base_content %}
  <section>
    <form
      method="POST"
      class="space-y-4"
      id="form-container"
      action="{% url "profiles:edit_profile_vocations" profile_slug=profile.slug %}"
    >
      {% csrf_token %}

      <div class="card-body flex flex-col space-y-4">
        <div>
          <h1 class="font-semibold text-xl text-primary">Skills</h1>
          <p>Update the vocations of this profile</p>
        </div>

        {% include "vocations/forms/profile_vocations_form.html" %}
      </div>

      <div class="card-footer">
        <div class="flex justify-end space-x-2">
          {% include "core/components/globals/cancel_button.html" %}

          <button
            type="submit"
            class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </section>
{% endblock profile_base_content %}
