{% extends "base.html" %}

{% block title %}
  KNS | Profiles
{% endblock %}

{% block base_content %}
  <section class="container-default py-4 md:py-8">
    <div class="border-b border-b-knsDark-300">
      <h1 class="text-2xl font-semibold font-serif">
        Profiles
      </h1>
      <p class="text-sm sm:text-md">
        View all the people that are members of groups who are descended from your group.
      </p>
    </div>

    {% include "profiles/components/profiles_list/profiles_list.html" %}
  </section>
{% endblock base_content %}
