{% extends "profiles/profile_base.html" %}

{% block title %}
  {{ profile.get_full_name }} | Make leader
{% endblock title %}

{% block profile_base_content %}
  <section class="space-y-6">
    {% if profile.can_become_leader_role and is_member_of_user_group and not profile.pending_make_leader_approval_request %}
      <a
        type="button"
        href="{% url "profiles:make_leader" profile_slug=profile.slug %}"
        class="text-white bg-knsSecondary hover:bg-knsSecondary-600 focus:ring-4 focus:ring-knsSecondary-400 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
      >
        Make {{ profile.get_full_name }} a leader
      </a>
    {% endif %}

    {% if profile.pending_make_leader_approval_request and is_member_of_user_group %}
      <div class="p-2 border-l-4 border-gray-700 bg-gray-200 text-sm font-semibold">
        You have submitted a request to make {{ profile.get_full_name }} a leader role.
      </div>
    {% endif %}

    <div>
      <h1 class="text-lg font-bold underline text-gray-800">How to make a member a leader role.</h1>
      <p>
        This guide explains how to change the role of your group member into a leader. If approval is required, a request will be sent for further action.
      </p>
    </div>

    <div class="space-y-4">
      <div>
        <h3 class="text-md font-semibold">Checking Eligibility</h3>
        <p>
          Make sure the person you're promoting meets the requirements to become a leader.
          The person should have a fully completed profile, which includes filling out their first name, last name, gender, date of birth, country, city, and role.
          Their email must be verified, and they must have agreed to the terms. Additionally, they cannot already hold the leader role and if they are underage must have an approved consent form.
        </p>
      </div>
      <div class="bg-gray-100 border-l-4 border-green-500 p-4">
        <p class="text-gray-700">
          <strong>Eligibility Check:</strong> If the user does not meet the above requirements, the promotion process will be halted, and an error message will be shown.
        </p>
      </div>
    </div>

    <div class="space-y-4">
      <div>
        <h3 class="text-md font-semibold">Role Change or Approval Request</h3>
        <p class="mb-4">
          If the user meets the requirements, the system will check if approval is needed to make them a leader.
          If no approval is needed, their role will be updated right away, and they'll receive an email notification.
        </p>
      </div>

      <div class="bg-gray-100 border-l-4 border-yellow-500 p-4">
        <p class="text-gray-700">
          <strong>Approval Required:</strong> If approval is required, an approval request is created and submitted
          for further review. The user will be promoted to leader only after the approval is granted by your group leader.
        </p>
      </div>
    </div>

    <div class="space-y-4">
      <div>
        <h3 class="text-md font-semibold">Informing the new leader</h3>
        <p>
          Once the user's role is successfully changed to leader (either directly or after approval), a notification email is
          sent to the user. This notification typically includes instructions for setting a password, accessing their
          KNS Account, and creating and managing their new group.
        </p>
      </div>

      <div class="bg-gray-100 border-l-4 border-purple-500 p-4">
        <p class="text-gray-700">
          <strong>Notification:</strong> The notification is crucial for ensuring that the user is aware of their
          new role and can take any necessary actions.
        </p>
      </div>
    </div>

    <div class="space-y-4">
      <div>
        <h3 class="text-md font-semibold">Conclusion</h3>
        <p>
          The process of changing a user's role to leader involves several checks and may require approval depending on
          the application's settings. By following these steps, you can ensure that the promotion process is handled
          securely and efficiently.
        </p>
      </div>

      <div class="bg-blue-100 border-l-4 border-blue-500 p-4">
        <p class="text-gray-700">
          <strong>Reminder:</strong> Always ensure that the necessary permissions and eligibility criteria are met
          before attempting to change a user's role to leader.
        </p>
      </div>
    </div>

  </section>
{% endblock profile_base_content %}
