{% extends "profiles/profile_base.html" %}

{% block title %}
  {{ profile.get_full_name }} | Make External Person
{% endblock title %}

{% block profile_base_content %}
  <section class="space-y-6">
    {% if profile.can_become_external_person_role and is_member_of_user_group %}
      <a
        type="button"
        href="{% url "profiles:make_external_person" profile_slug=profile.slug %}"
        class="text-white bg-knsSecondary hover:bg-knsSecondary-600 focus:ring-4 focus:ring-knsSecondary-400 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
      >
        Make {{ profile.get_full_name }} an External Person
      </a>
    {% endif %}

    <div>
      <h1 class="text-lg font-bold underline text-gray-800">How to make a profile an External Person.</h1>
      <p>
        This guide explains how to change the role of a profile into an External Person. An External Person is part of a KNS group but not actively involved in group activities. They offer their skills and expertise to the community, making their profiles visible so others can leverage those skills.
      </p>
    </div>

    <div class="space-y-4">
      <div>
        <h3 class="text-md font-semibold">Checking Eligibility</h3>
        <p>
          Ensure the person meets the requirements to become an External Person. The profile should be fully completed, including filling out their first name, last name, gender, date of birth, country, city, and role. Their email must be verified, and they must have agreed to the terms.
        </p>
      </div>
      <div class="bg-gray-100 border-l-4 border-green-500 p-4">
        <p class="text-gray-700">
          <strong>Eligibility Check:</strong> If the user does not meet the above requirements, the role change process will be halted, and an error message will be shown.
        </p>
      </div>
    </div>

    <div class="space-y-4">
      <div>
        <h3 class="text-md font-semibold">Informing the External Person</h3>
        <p>
          Once the user's role is successfully changed to External Person, a notification email is sent to the user. The email typically includes information on how their profile will be visible to other users in the application, so their skills and expertise can be leveraged for various initiatives.
        </p>
      </div>

      <div class="bg-gray-100 border-l-4 border-purple-500 p-4">
        <p class="text-gray-700">
          <strong>Notification:</strong> It is important that the user is informed of their new role and how their profile will be used within the application, as their expertise can now be accessed by other users.
        </p>
      </div>
    </div>
  </section>
{% endblock profile_base_content %}
