{% extends "profiles/profile_base.html" %}

{% load profiles_custom_tags %}

{% block title %}
  {{ profile.get_full_name }} | Change group
{% endblock title %}

{% block profile_base_content %}
  <section class="space-y-6">
    <div>
      <h2 class="text-2xl font-bold text-gray-900">Moving a member to another Group</h2>
      <p class="mb-4 text-gray-600">
        You are about to move a member from your group to one of your sister groups, it's important to understand how this process works and what the form allows you to do. The form is designed to ensure a smooth transition, allowing you to select a member and assign them to a new sister group.
      </p>
    </div>

    <div>
      <h3 class="text-xl font-semibold text-gray-700">Steps to Move a Member:</h3>
      <ul class="list-disc pl-6 mb-4 text-gray-600">
        <li class="mb-2">
          <strong class="text-gray-900">Select a Member:</strong>
          The form will show you a list of members from your current group. These are individuals who belong to the group you're leading. Simply choose the member you wish to transfer.
        </li>
        <li class="mb-2">
          <strong class="text-gray-900">Choose a Sister Group:</strong>
          Next, you'll see a dropdown of available sister groups. These are other groups that share the same parent group as yours. The form excludes your own group from this list to avoid moving the member back into the same group.
        </li>
      </ul>
    </div>

    <div>
      <h3 class="text-xl font-semibold text-gray-700">Why This is Important:</h3>
      <p class="text-gray-600">
        Moving a member to a sister group could be necessary for various reasons—maybe the new group better fits their needs, or perhaps there's been a location change that has necessitated the move. This form ensures that you can make this change in an organized manner, limiting your selection to valid groups within the same hierarchy (i.e., sister groups).
      </p>
    </div>

    <div class="bg-blue-100 border-l-4 border-blue-600 p-3">
      <h3 class="text-xl font-semibold text-blue-600">Important Note:</h3>
      <p class="text-blue-600">
        If the member you're moving is currently leading a group, please be aware that their current group and any of its descendant groups (sub-groups) will no longer be part of your group's hierarchy. This means that you will lose leadership and oversight of that entire chain of groups. Make sure you confirm that this change is intentional and necessary.
      </p>
    </div>

    <form
      id="moveToSisterGroupForm"
      action="{% url "profiles:move_to_sister_group" profile_slug=profile.slug group_slug=current_group.slug %}"
      method="POST"
    >
      {% csrf_token %}

      {% include "groups/forms/move_group_form.html" %}

      <div class="flex justify-end space-x-2 items-center my-6">
        <a href="{{ profile.get_absolute_url }}" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2">Cancel</a>

        <button id="confirmMove" type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2">Save</button>
      </div>
    </form>
  </section>

  <script>
    document.getElementById('confirmMove').addEventListener('click', function (event) {
      event.preventDefault(); // Prevent form submission
      const confirmMessage = "Are you sure you want to move this person to another group?";

      if (confirm(confirmMessage)) {
        // If confirmed, submit the form
        document.getElementById('moveToSisterGroupForm').submit();
      }
    });
  </script>

{% endblock profile_base_content %}
