{% extends "profiles/profile_base.html" %}

{% load profiles_custom_tags %}

{% block profile_base_content %}
  <section class="space-y-4">
    <h1 class="text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6">
      {{ profile.get_full_name|name_with_apostrophe }} discipleships
    </h1>

    {% if profile == request.user.profile and request.user.profile.group_led.members.count > 0 %}
      {% include "profiles/forms/group_member_discipleship_form.html" %}
    {% endif %}

    {% if request.user.profile.group_led.members.count == 0 %}
      <div id="marketing-banner" tabindex="-1" class="flex flex-col md:flex-row justify-between p-4 border border-gray-100 rounded-lg shadow-sm bg-gray-800">
        <div class="flex flex-col items-start md:items-center md:flex-row md:mb-0">
          <p class="flex items-center text-sm font-normal text-gray-200">No discipleships to display</p>
        </div>
      </div>
    {% endif %}

    <div class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-1 md:grid-cols-2 gap-2">
      {% for discipleship in group_member_discipleships %}
        {% include "profiles/components/discipleships/discipleship_item.html" %}
      {% endfor %}
      {% for discipleship in first_12_discipleships %}
        {% include "profiles/components/discipleships/discipleship_item.html" %}
      {% endfor %}
      {% for discipleship in first_3_discipleships %}
        {% include "profiles/components/discipleships/discipleship_item.html" %}
      {% endfor %}
      {% for discipleship in sent_forth_discipleships %}
        {% include "profiles/components/discipleships/discipleship_item.html" %}
      {% endfor %}
    </div>
  </section>
{% endblock profile_base_content %}
