{% extends "profiles/profile_base.html" %}

{% load profiles_custom_tags %}

{% block profile_base_content %}
  <section class="space-y-4">
    <h1 class="text-2xl font-bold text-gray-800 sm:text-3xl md:mb-6">
      {{ profile.get_full_name|name_with_apostrophe }} discipleships
    </h1>

    {% if profile == request.user.profile %}
      {% include "profiles/forms/group_member_discipleship_form.html" %}
    {% endif %}

    <div class="grid grid-cols-1 xs:grid-cols-2 sm:grid-cols-1 md:grid-cols-2 gap-2">
      {% for discipleship in profile.discipleships_where_discipler.all %}
        {% include "profiles/components/discipleships/discipleship_item.html" %}
      {% endfor %}
    </div>
  </section>
{% endblock profile_base_content %}
