{% extends "profiles/profile_base.html" %}

{% block title %}
  Profile | {{ profile.get_full_name }}
{% endblock title %}

{% block profile_base_content %}
  <section>
    <div class="grid grid-cols-1 xs:grid-cols-2 my-4 gap-2">
      {% include "profiles/components/levels/profile_levels.html" %}
      {% include "profiles/components/classifications/profile_classifications.html" %}
    </div>

    <div class="mt-4">
      {% include "mentorships/components/profile_mentorship_card.html" %}
    </div>

  </section>
{% endblock profile_base_content %}
